body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.section .background-container {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    max-width: unset;
    border-radius: 10px;
    width: 1440px;
    min-height: 240px;
}
.main-title {
    margin: 0;
    font-weight: 900;
    color: black;
}
.search-box {
    margin-top: 20px;
}
.search-input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 30px;
    width: 600px;
}

.help-msg {
    color: black;
    font-weight: 700;
    text-align: center;
}